# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_BLE
 	default y


if SHIELD_WORST_BREAD_DONGLE || SHIELD_WORST_BREAD_LEFT

config ZMK_KEYBOARD_NAME
	default "Worst Bread"

config ZMK_SPLIT
	default y

config ZMK_SPLIT_ROLE_CENTRAL
	default y

config_ZMK_USB
  	default y

endif # SHIELD_WORST_BREAD_DONGLE || SHIELD_WORST_BREAD_LEFT


if SHIELD_WORST_BREAD_DONGLE_LEFT || SHIELD_WORST_BREAD_DONGLE_RIGHT || SHIELD_WORST_BREAD_RIGHT

config ZMK_SPLIT
	default y

endif # SHIELD_WORST_BREAD_DONGLE_LEFT || SHIELD_WORST_BREAD_DONGLE_RIGHT || SHIELD_WORST_BREAD_RIGHT


if SHIELD_DONGLE_RESET

config ZMK_KEYBOARD_NAME
	default "DONGLE RESET"

endif
